@inject SignInManager<ApplicationUser> signinManager
<!DOCTYPE html>
<environment include="Development">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</environment>
<environment exclude="Development">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
          crossorigin="anonymous"
          asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute"
          asp-suppress-fallback-integrity="true"
          >
</environment>

<link href="~/css/Site.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" asp-action="index" asp-controller="Home">
                <img src="~/images/add client.png" width="30" height="30" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcollap">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navcollap">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-action="index" asp-controller="Home" class="nav-link">List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="create" asp-controller="Home" class="nav-link">Create</a>
                    </li>
                    @if (signinManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a asp-action="ListRoles" asp-controller="Admin" class="nav-link">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="ListUsers" asp-controller="Admin" class="nav-link">Users</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav m-lg-auto">
                    @if (signinManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form asp-action="logout" asp-controller="account" method="post">
                                <button type-="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="account" class="nav-link ">Login</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="register" asp-controller="account" class="nav-link ">Register</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
        <div >
            @RenderBody()
        </div>
        <div>
            @RenderSection("script",false);
        </div>
    </div>
</body>
</html>
