@model EmployeeEditVM
@{
    ViewBag.Title = "Craete Employee";
    var photopath = "~/images/" + (Model.existingpath ?? "add client.png");
}
<form enctype="multipart/form-data" asp-controller="home" asp-action="edit" method="post" class="mt-3">
   <input hidden asp-for="id"/>
   <input hidden asp-for="existingpath"/>
    <div class=" row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control m-1" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class=" row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control m-1" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class=" row">
        <label asp-for="Department" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="Department" class="form-select-sm m-1" asp-items="Html.GetEnumSelectList<dept>()">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
    </div>
    <div class=" row">
        <label asp-for="photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="photo" class="form-control" type="file" />
        </div>
    </div>
    <div class=" row col-sm-4 offset-4 image">
        <img src="@photopath" asp-append-version="true"/>
    </div>
    <button type="submit" class="btn btn-primary">
        Update
    </button>
    <a asp-controller="home" asp-action="index" class="btn btn-primary">Cancel</a>
</form>