@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employee List";
}
<div class="row">
    @foreach (var emp in Model)
    {
    <div class="col-md-3">
        <div class="card-header">
            @emp.Name
        </div>
        <img class="card-img-top image" src="~/images/add client.png"  asp-append-version="true"/>
        <div class="card card-footer text-center ">
            <div class="row">
                <a asp-controller="Home" asp-action="Detials" asp-route-id="@emp.id" class="btn btn-primary m-1">View</a>
                <a asp-controller="Home" asp-action="create" class="btn btn-primary m-1">Create</a>
                <a asp-controller="Home" asp-action="Detial" asp-route-id="@emp.id" class="btn btn-danger m-1">Delete</a>
            </div>
           
        </div>
    </div>
    }
</div>
  
